.inventoryContainer {
    width: 100%;
    min-height: 75vh;
}

.profileHeader {
    display: block;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: -25px;
    margin-bottom: 30px;
    background-color: #2e2e2e;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid white;
}

.username {
    height: 100px;
    display: inline-block;
    position: absolute;
    text-align: center;
}

.username a {
    font-size: 28px;
    line-height: 100px;
    color: #eee;
}

.username a:hover {
    color: #06bfff;
    text-decoration: none;
}

.gameTabs {
    margin-bottom: 30px;
    width: 100%;
    background-color: rgb(9, 9, 37);
}

.gameTab {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 5px;
    cursor: pointer;
}

.activeTab {
    background-color: #1e1e1e;
    font-weight: bold;
}

.inventoryGrid {
    display:inline-block;
    margin-bottom: 20px;
    width: 60%;
    min-height: 500px;
    background-color: #1e1e1e;
}

.inventorySelectedGame {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 24px; /* Adjust the font size for the game title */
    color: white;
    margin-bottom: 10px; /* Add space between the title and items */
    text-align: left; /* Align the game name to the left */
    padding-left: 10px; /* Add some padding for the title */
}

.inventoryItem {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.2s;
    display: inline-flex;
    margin-right: 10px;
}

.inventoryItem:nth-child(1) {
    margin-left: 10px;
    width: 200px;
}

.inventoryItem:hover, .selectedItem {
    border-color: #ffae00;
}

.itemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemDetails {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 40%;
    min-height: 500px;
    background-color: #1e1e1e;
    border: 3px solid #ccc;
    padding: 5px;
}

.itemDetailImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 150px;
}

.itemName {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.itemDescription {
    font-size: 14px;
    color: #eee;
    text-align: center;
    margin-bottom: 25px;
}

.sellButton {
    width: 75px;
    height: 25px;
    background-image: linear-gradient(to bottom, #00a008 25%, #116300 100%);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.sellButton:hover {
    background-image: none;
    background-color: #116300;
}
