.profileDiv {
    width: 100%;
    height: 400px;
    box-shadow: 2px 2px 5px black;
    background: linear-gradient(to bottom right, #384d66, #08182c);
}

.profileContainer {
    width: 100%;
    margin-top: 20px;
}

.profileName {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 25px;
    color: #eee;
    width: 80%;
    display: inline-block;
}

.profileImageContainer {
    margin-left: 100px;
    width: 175px;
    float: left;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.profileImageContainer {
    margin-right: 20px;
}

.profileInfo {
    width: 25%;
    min-height: 200px;
    float: left;
    padding-top: 60px;
    text-align: center;
    color: #eee;
}

.profileDetails {
    width: 25%;
    min-height: 150px;
    float: right;
    margin-top: 50px;
    margin-right: 25px;
    text-align: center;
    box-shadow: -2px 2px 5px black;
    color: #eee;
}

.profileDetails h1 {
    color: #888;
}

/* Base styles for the link */
.editProfileLink {
    width: 100px;
    height: 40px;
    background-color: #08182c;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
    color: white; /* Ensure text is visible on the background */
    text-decoration: none; /* Remove underline from text */
    transition: background-color 0.2s; /* Apply transition to the background color */
    text-decoration: none;
}

/* Hover effect for the link */
.editProfileLink:hover {
    background-color: #384d66;
    text-decoration: none;
}

/* Ensure no text decoration on hover */
.editProfileLink a {
    text-decoration: none;
    color: #ccc;
}



.addMoney {
    width: 100px;
    height: 40px;
    margin-left: 80%;
    text-align: right;
}

.addMoneyButton {
    width: 100px;
    height: 40px;
    background-color: #08182c;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
    color: white; /* Ensure text is visible on the background */
    text-decoration: none; /* Remove underline from text */
    transition: background-color 0.2s; /* Apply transition to the background color */
    text-decoration: none;
}

/* Hover effect for the link */
.addMoneyButton:hover {
    background-color: #384d66;
    text-decoration: none;
}

@media (max-width: 800px) {
    .profileDiv {
        min-height: 600px;
    }

    .profileName {
        width: 55%;
        margin-right: 15%;
    }

    .profileImageContainer {
        width: 35%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .addMoney {
        margin-left: 70%;
    }

    .profileDetails {
        width: 50%;
    }
}
